/* Estilos adicionales */
.button-primary {
    background-color: #F39910;
    color: white;
    font-weight: bold;
}

.button-primary:hover {
    background-color: #D3870A;
}

.button-secondary {
    background-color: #F39910;
    color: white;
    font-weight: bold;
}

.button-secondary:hover {
    background-color: #D3870A;
}
