<header class="header display-high-width z-50 relative">
  <div class="bg-blue-900 py-2 px-4 md:px-8 lg:px-12 xl:px-16 flex justify-between items-center fixed top-0 left-0 right-0">
    
    <!-- Selector de idioma -->
    <div class="flex items-center">
      <a href="../../../../index.html">
        <img src="/src/images/logo.png" alt="Logo FestGest" class="h-auto max-w-xs w-32 mt-1" />
      </a>
    </div>

    <!-- Botones de inicio de sesión y registro -->
    <div class="flex items-center">
      <a class="linksBtn" href="/src/pages/signIn/signIn.html" class="no-underline">
        <button id="signInBtn" class="button-secondary px-2 md:px-3 py-1 md:py-2 rounded-md mr-2 md:mr-4 flex items-center cursor-pointer">
          <i class="fas fa-user-plus mr-1 text-sm"></i>
          <span class="hidden md:inline-block text-sm md:text-base">Sign In</span>
        </button>
      </a>
      <a class="linksBtn" href="/src/pages/login/login.html" class="no-underline">
        <button id="loginBtn" class="button-secondary px-2 md:px-3 py-1 md:py-2 rounded-md flex items-center cursor-pointer">
          <i class="fas fa-sign-in-alt mr-1 text-sm"></i>
          <span class="hidden md:inline-block text-sm md:text-base">Log in</span>
        </button>
      </a>
    </div>
  </div>
</header>
