<header class="header display-high-width">
  <div class="bg-blue-900 py-4 px-6 md:px-12 lg:px-16 xl:px-20 flex justify-between items-center fixed top-0 left-0 right-0">
    
    <!-- Selector of the language -->
    <div class="flex items-center">
      <p class="text-white text-sm md:text-base">Language</p>
      <i class="fas fa-globe text-white ml-2"></i>
    </div>

    <div class="flex justify-center ml-32">
      <a href="/src/index.html">
        <img src="/src/images/logo.png" alt="Logo FestGest" class="w-32 h-auto">
      </a>
    </div>

    <!-- Sign In and Login buttons -->
    <div class="flex items-center">
      <a href="/src/pages/sigIn/signIn.html" style="text-decoration: none;">
        <div id="signInBtn" class="button-secondary px-3 md:px-4 py-2 rounded-md mr-4 md:mr-6 flex items-center cursor-pointer" data-page="page1.html">
          <i class="fas fa-user-plus mr-1"></i>
          <p class="hidden md:inline">Sign In</p>
        </div>
      </a>
      <a href="/src/pages/login/login.html" style="text-decoration: none;">
        <div id="loginBtn" class="button-secondary px-3 md:px-4 py-2 rounded-md flex items-center cursor-pointer" data-page="page2.html">
          <i class="fas fa-sign-in-alt mr-1"></i>
          <p class="hidden md:inline">Log in</p>
        </div>
      </a>
    </div>
  </div>
</header>
