#search-container{
    place-content: center
}

#festGuestImage{
    width: calc(1rem + 25vw);
}

@media (max-width: 768px) {
        #searchButton {
            display: block;
            width: 10vw;
            margin: 0;  
        }
        #container-form-input {
            display: flex;
        }
}