<header class="header display-high-width">
  <div class="bg-blue-900 py-4 px-6 md:px-12 lg:px-16 xl:px-20 flex justify-between items-center fixed top-0 left-0 right-0">
    
    <!-- Selector de idioma -->
    <div class="flex items-center">
      <p class="text-white text-sm md:text-base">Idioma</p>
      <i class="fas fa-globe text-white ml-2"></i>
    </div>

    <!-- Logo y Perfil -->
    <div class="flex items-center">
      <a href="/src/index.html">
        <img src="/src/images/logo.png" alt="Logo FestGest" class="w-32 h-auto">
      </a>
      
    </div>

    <div class="flex items-center justify-end space-x-4">
      <div class="dropdown">
        <button class="btn button-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/src/pages/form/transport/transport.html">Transport</a>
          <a class="dropdown-item" href="/src/pages/form/accommodation/accommodation.html">Accomodation</a>
        </div>
      </div>

      <button class="button-secondary px-3 py-2 rounded-xl flex items-center cursor-pointer">
        <a href="/src/pages/profile/profile.html" class="flex items-center text-white">
          <img src="/src/images/profilePhoto.png" alt="Foto de Perfil" class="w-10 h-10 rounded-full">
          <span class="ml-2">SoryKaba69</span>
        </a>
      </button>
    </div>
  </div>
</header>
